! AfterStep v1.0 Default Xdefaults
xterm*background: black
xterm*foreground: white
xterm*scrollBar: true
xterm*font: fixed

color_xterm*background: black
color_xterm*foreground: white
color_xterm*scrollBar: true
color_xterm*font: fixed

rxvt*background:	black
rxvt*foreground:	white
rxvt*loginShell:	true
rxvt*visualBell:	true
rxvt*saveLines:		100
rxvt*geometry:          80x45
rxvt*font:             lucida
rxvt*scrollBar:        false

rxvt*color7:           grey66

emacs*background:	black
emacs*foreground:	white

xload*background:	black
xload*foreground:	purple

procmeter*foreground:	purple
procmeter*background:	black

xapm*background:	black
xapm*foreground:	purple

*wine*managed:		true

lavaps.geometry:	84x306+1063+306

xpdf.viKeys: true

! damn, wish i knew about this one earlier
*customization: -color
! need to figure out the escape sequences
rxvt*cutchars:  `´()*,;<>[]{|}

